# Application
APP_ENV=dev
APP_KEY=IaxzK5EUAVqCT05n5q0GskF0kHRD001I
APP_URL=http://localhost
APP_PORT=8080
APP_NAME=recipe-api-service
# Postgresql
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_NAME=hellofresh
DB_USER=hellofresh
DB_PASSWORD=hellofresh
DB_PORT=5432
# Redis
REDIS_SCHEME=tcp
REDIS_HOST=redis
REDIS_PORT=6379